* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
a{
    text-decoration:none;
}

html, body, .swiper-container, .swiper-slide {
    height: 100%;

}

.swiper-container {
    position: relative;
}

.show {
    transition: opacity 1s;
    animation: fadeIn 1s linear both;
}

/* music begin */
.music {
    font-size: 20px;
    width: 2em;
    height: 2em;
    position: absolute;
    right: .5em;
    top: .5em;
    z-index: 100;
}

.music .control {
    width: 2.5em;
    height: 2.5em;
    background: url('../images/public/music_1.gif') transparent no-repeat center center;
    background-size: contain;
}

.music .control .control-after {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -.75em;
    margin-left: -.75em;
    background: url('../images/public/music_icon.png') transparent no-repeat center center;
    background-size: 100% 100%;
    -webkit-animation: rotate2d 1.2s linear infinite both;
    animation: rotate2d 1.2s linear infinite;
    /*animation-play-state: paused;*/
    z-index: -1;
}

/* music end */

/* swiper-slide */
.swiper-slide:after {
    font-size: 20px;
    content: " ";
    position: absolute;
    width: 1.2em;
    height: .9em;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: .5em;
    background: url('../images/public/slide_tip.png') no-repeat;
    background-size: 100% 100%;
    -webkit-animation: TipAfter 1.5s infinite ease-in-out;
    animation: TipAfter 1.5s infinite ease-in-out;
    z-index: 100;
}

.swiper-slide {
    position: relative;
    background-size: cover;
}

.swiper-slide .page-inner {
    position: absolute;
}

.swiper-pagination-bullet {
    background-color: #f9f9f9;
}

.swiper-pagination-bullet-active {
    background-color: transparent;
    border: 1px solid #fff;
    width: 6px;
    height: 6px;
}

/* slide1 /////////////////////////////////////////////////////*/
.page1 {
    background-image: url(../images/slide1/bg1.jpg);
}

.page1 *, .page2 *, .page3 *, .page4 *, .page5 * {
    opacity: 0;
}

#page1 *, #page2 *, #page3 *, #page4 *, #page5 * {
    opacity: 1;
}

#page1 [class*='page-inner1'] {
    /*width:200px;*/
    /*height:196px;*/
    width: 62.5%;
    height: 39.682539682539684%;
    left: 18.4375%;
    top: 17.857142857142858%;
    -webkit-animation: flip 1.1s 0.5s 1 both;
    -moz-animation: flip 1.1s 0.5s 1 both;
    animation: flip 1.1s 0.5s 1 both;
    font-size: 1rem;
    position: absolute;
    z-index: 1;
}

#page1 .page-inner1_2 {
    left: 18.125%;
    animation: flip 1.2s 0.5s 1 both;
}

#page1 .page-inner1_3 {
    left: 18.43735%;
    animation: flip 1.3s 0.5s 1 both;
}

#page1 .page-inner1_4 {
    left: 18.125%;
    animation: flip 1.4s 0.5s 1 both;
}

#page1 .page-inner1_5 {
    left: 18.125%;
    animation: flip 1.5s 0.5s 1 both;
}

#page1 .page-inner2 {
    /*width:100px;*/
    /*height:95px;*/
    width: 31.25%;
    height: 19.841269841269842%;
    left: 33.75%;
    top: 45.83333333333333%;
    -webkit-animation: slideUp 0.8s 0.5s 1 both;
    -moz-animation: slideUp 0.8s 0.5s 1 both;
    animation: slideUp 0.8s 0.5s 1 both;
    opacity: 1;
    position: absolute;
}

#page1 .page-inner3 {
    /*width:180px;*/
    /*height:176px;*/
    width: 56.25%;
    height: 35.714285714285715%;
    left: 21.25%;
    top: 20.03968253968254%;
    -webkit-animation: flip 1s 0.5s 1 both;
    -moz-animation: flip 1s 0.5s 1 both;
    animation: flip 1s 0.5s 1 both;
    opacity: 1;
    position: absolute;
}

#page1 .page-inner4 {
    width: 56.25%;
    height: auto;
    left: 20.625%;
    top: 34.12698412698413%;
    -webkit-animation: fadeInDown 1s 0.5s 1 both;
    -moz-animation: fadeInDown 1s 0.5s 1 both;
    animation: fadeInDown 1s 0.5s 1 both;
    color: #000000;
    opacity: 1;
    font-family: 黑体;
    line-height: 1.4;
    text-align: center;
    font-size: 24px;
}

#page1 .page-inner4 .line_2 {
    font-size: 18px;
}

[id^='page'] .page-footer {
    font-family: 黑体;
    width: 56.25%;
    height: auto;
    left: 21.5625%;
    top: 85.9126984126984%;
    -webkit-animation: float 0.5s 3.5s infinite both;
    -moz-animation: float 0.5s 3.5s infinite both;
    animation: float 0.5s 3.5s infinite both;
    color: #ccc;
    font-size: 14px;
    opacity: .8;
    line-height: 1.1;
    text-align: center;
}

/* slide2 /////////////////////////////////////////////////////*/
.page2 {
    background-image: url(../images/slide2/bg2.jpg);
}

#page2 .page-inner1 {
    /*width:100px;*/
    /*height:95px;*/
    position: absolute;
    width: 31.25%;
    height: 19.841269841269842%;
    left: 33.75%;
    top: 20.03968253968254%;
    background: coral;
    -webkit-animation: bounceIn 1s 0.5s 1 both;
    -moz-animation: bounceIn 1s 0.5s 1 both;
    animation: bounceIn 1s 0.5s 1 both;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border-style: solid;
    border-color: transparent;
    opacity: 1;
}

#page2 .page-inner2 {
    width: 56.25%;
    height: auto;
    left: 21.5625%;
    top: 44.642857142857146%;
    -webkit-animation: bounceInDown 0.5s 0.5s 1 both;
    -moz-animation: bounceInDown 0.5s 0.5s 1 both;
    animation: bounceInDown 0.5s 0.5s 1 both;
    color: #fff;
    opacity: 1;
    font-family: 黑体;
    line-height: 1.2;
    text-align: center;
    font-size: 32px;
}

#page2 .page-inner3 {
    width: 56.25%;
    height: auto;
    left: 21.5625%;
    top: 55.75396825396825%;
    -webkit-animation: bounceInDown 0.6s 0.5s 1 both;
    -moz-animation: bounceInDown 0.6s 0.5s 1 both;
    animation: bounceInDown 0.6s 0.5s 1 both;
    color: #fff;
    font-size: 18px;
    opacity: 1;
    font-family: 黑体;
    text-align: center;
}

#page2 .page-inner4 {
    width: 56.25%;
    height: auto;
    left: 21.5625%;
    top: 70.63492063492063%;
    -webkit-animation: fadeIn 1s 2s 1 both;
    -moz-animation: fadeIn 1s 2s 1 both;
    animation: fadeIn 1s 2s 1 both;
    opacity: 1;
    font-family: 黑体;
    line-height: 1.1rem;
    text-align: center;
    color: #fff;
    font-size: 13px;
}

#page2 .page-inner4 .line_2 {
    -webkit-animation: fadeIn 1s 3s 1 both;
    -moz-animation: fadeIn 1s 3s 1 both;
    animation: fadeIn 1s 3s 1 both;
}

/* slide3 /////////////////////////////////////////////////////*/
.page3 {
    background-image: url(../images/slide2/bg2.jpg);
}

#page3 .page-inner1 {
    width: 56.25%;
    height: auto;
    left: 30%;
    top: 4%;
    -webkit-animation: flipInX 1s 0.5s 1 both;
    -moz-animation: flipInX 1s 0.5s 1 both;
    animation: flipInX 1s 0.5s 1 both;
    opacity: 1;
    font-family: 黑体;
    line-height: 1.8rem;
    font-size: 32px;
    color: #fff;
}

#page3 .round {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 0;
}

#page3 .round .ring {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: rgba(148, 148, 148, 1);
    z-index: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-animation: zoomIn 1s 0.5s 1 both, flash 2s 1.5s infinite forwards;
    -moz-animation: zoomIn 1s 0.5s 1 both, flash 2s 1.5s infinite forwards;
    animation: zoomIn 1s 0.5s 1 both, flash 2s 1.5s infinite forwards;
}

#page3 .round .inner {
    position: absolute;
    top: 6px;
    left: 4px;
    background-color: #fff;
    z-index: 2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 21px;
    height: 21px;
}

#page3 .left-top {
    left: 30px;
    top: 180px;
}

#page3 .right-top {
    left: 270px;
    top: 180px;

}

#page3 .left-bottom {
    left: 30px;
    top: 440px;
}

#page3 .right-bottom {
    left: 270px;
    top: 440px;
}

/*#page3 .round .line*/
#page3 .round .line {
    position: absolute;
    background-color: #999;
}

#page3 .left-top .line:nth-child(1) {
    top: -120px;
    width: 2px;
    left: 15px;
    animation: line1 1s both;
}

#page3 .left-top .line:nth-child(2) {
    top: 15px;
    left: 15px;
    height: 2px;
    animation: line2 1s both;
}

#page3 .right-top .line {
    top: 15px;
    left: 15px;
    width: 2px;
    animation: line3 1s both;
}

#page3 .right-bottom .line {
    top: 15px;
    right: 15px;
    height: 2px;
    animation: line4 1s both;
}

#page3 .left-bottom .line {
    top: 15px;
    left: 15px;
    height: 240px;
    width: 2px;
    animation: line5 1s both;
}

#page3 .box {
    position: absolute;
}

#page3 .box.box1 {
    width: 210px;
    height: 100px;
    left: 60px;
    top: 70px;
    z-index: 0;
    -webkit-animation: rotateInUpLeft 1s 0.7s 1 both;
    -moz-animation: rotateInUpLeft 1s 0.7s 1 both;
    animation: rotateInUpLeft 1s 0.7s 1 both;
}

#page3 .box.box1 .left {
    position: absolute;
    margin-left: 10px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    opacity: 1;
    font-family: 黑体;
    line-height: 100px;
    -webkit-animation: rotateInUpLeft 1s 0.9s 1 both;
    -moz-animation: rotateInUpLeft 1s 0.9s 1 both;
    animation: rotateInUpLeft 1s 0.9s 1 both;
}

#page3 .box.box1 .right span {
    display: block;
}

#page3 .box.box1 .right span:nth-child(1) {
    padding-top: 6px;
}

#page3 .box.box1 .right {
    float: right;
    height: 100%;
    /*color: #fff;*/
    width: 50%;
    opacity: 1;
    font-family: 黑体;
    font-size: 12px;
    line-height: 20px;
    -webkit-animation: rotateInUpLeft 1s 0.9s 1 both;
    -moz-animation: rotateInUpLeft 1s 0.9s 1 both;
    animation: rotateInUpLeft 1s 0.9s 1 both;
}

#page3 .front {
    border-radius: 10%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 1s;
    -webkit-transform: rotateY(0deg) translateZ(1px);
    transform: rotateY(0deg) translateZ(1px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    /*background-color: #fff;*/
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

/*backgace*/
#page3 .backface {
    border-radius: 10%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 7px 2px;
    text-indent: 2em; /*首行缩进*/
    text-align: justify;
    box-sizing: border-box;
    font-size: 12px;
    transition: all 1s;
    -webkit-transform: rotateY(180deg) translateZ(1px);
    transform: rotateY(180deg) translateZ(1px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

#page3 [class*='box']:hover .backface {
    -webkit-transform: rotateY(0deg) translateZ(1px);
    transform: rotateY(0deg) translateZ(1px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .156863), 0 3px 10px rgba(0, 0, 0, .227451) !important
}

#page3 [class*='box']:hover .front {
    -webkit-transform: rotateY(180deg) translateZ(1px);
    transform: rotateY(180deg) translateZ(1px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .156863), 0 3px 10px rgba(0, 0, 0, .227451) !important
}

#page3 .sBox {
    position: absolute;
    width: 160px;
    left: 90px;
    top: 220px;
    z-index: 0;
}

#page3 .sBox > div {
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    overflow: hidden;
    /*-webkit-animation: rotateInUpLeft 1s 0.7s 1 both;*/
    /*-moz-animation: rotateInUpLeft 1s 0.7s 1 both;*/
    /*animation: rotateInUpLeft 1s 0.7s 1 both;*/
    -webkit-animation: rotateInUpRight 1s 0.9s 1 both;
    -moz-animation: rotateInUpRight 1s 0.9s 1 both;
    animation: rotateInUpRight 1s 0.9s 1 both;
}

#page3 .sBox .left span {
    display: block;
}

#page3 .sBox .left span:nth-child(1) {
    padding-top: 3px;
}

#page3 .sBox .left {
    padding-left: 10px;
    float: left;
    height: 100%;
    box-sizing: border-box;
    /*color: #fff;*/
    width: 50%;
    opacity: 1;
    font-family: 黑体;
    font-size: 12px;
    line-height: 20px;
    -webkit-animation: rotateInUpLeft 1s 0.9s 1 both;
    -moz-animation: rotateInUpLeft 1s 0.9s 1 both;
    animation: rotateInUpLeft 1s 0.9s 1 both;
}

#page3 .sBox .right {
    float: left;
    text-align: center;
    width: 50%;
    height: 100%;
    font-size: 18px;
    line-height: 60px;
    opacity: 1;
    font-family: 黑体;
    -webkit-animation: rotateInUpLeft 1s 1.3s 1 both;
    -moz-animation: rotateInUpLeft 1s 1.3s 1 both;
    animation: rotateInUpLeft 1s 1.3s 1 both;
}

#page3 box4 .backface {
    line-height: 12px;
    letter-spacing: -1px;
    padding: 3px 5px;
}

/* slide4 /////////////////////////////////////////////////////*/
.page4 {
    background-image: url(../images/slide2/bg2.jpg);
}

#page4 .page-inner1 {
    width: 56.25%;
    height: auto;
    left: 12.812499999999998%;
    top: 7.936507936507936%;
    -webkit-animation: rotateIn 1s 0.5s 1 both;
    -moz-animation: rotateIn 1s 0.5s 1 both;
    animation: rotateIn 1s 0.5s 1 both;
    opacity: 1;
    font-family: 黑体;
    line-height: 1.8rem;
    font-size: 32px;
    color: #fff;
}

#page4 .page-inner2 {
    list-style: none;
    left: 9.375%;
    top: 20.436507936507937%;
    width: 80%;
}

#page4 .page-inner2 li {
    height: 120px;
}

#page4 .page-inner2 li img {
    animation: bounceIn 1s 0.5s 1 both;
    float: left;
}

#page4 .page-inner2 li .inner_right {
    width: 85%;
    float: left;
    margin-left: 5%;
    font-family: 黑体;
    color: #fff;
    font-size: 16px;
    line-height: 36px;
    animation: slideLeft 1s 0.5s 1 both;
}

#page4 .page-inner2 li .inner_right .time {
    font-size: 12px;
    line-height: 14px;
    color: rgb(169, 169, 169);
    margin-top: 2px;
}

#page4 .page-inner2 li .inner_right p {
    font-size: 12px;
    line-height: 14px;
    color: rgb(169, 169, 169);
}

#page4 .page-inner2 li .inner_right a {
    text-decoration: none;
    padding: 3px;
    float: right;
    background: grey;
    border-radius: 10%;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
}

/* slide5 /////////////////////////////////////////////////////*/
.page5 {
    background-image: url(../images/slide2/bg2.jpg);
}

#page5 .page-inner1 {
    width: 56.25%;
    height: auto;
    left: 30%;
    top: 4%;
    -webkit-animation: swing 1s 0.2s 1 both;
    -moz-animation: swing 1s 0.2s 1 both;
    animation: swing 1s 0.2s 1 both;
    opacity: 1;
    font-family: 黑体;
    line-height: 1.8rem;
    font-size: 32px;
    color: #fff;
}

#page5 .page-inner2 {
    width: 78.125%;
    /*height: 59.523809523809526%;*/
    height: 40%;
    left: 12.5%;
    top: 15%;
    z-index: 0;
    background: rgba(255, 255, 255, .2);
    -webkit-animation: fadeIn 1s 0.5s 1 both;
    -moz-animation: fadeIn 1s 0.5s 1 both;
    animation: fadeIn 1s 0.5s 1 both;
}

#page5 .page-inner2 li {
    height: 33%;
    box-sizing: border-box;
    padding-top: 30px;
    -webkit-animation: float 2s 0.5s infinite both;
    -moz-animation: float 2s 0.5s infinite both;
    animation: float 2s 0.5s infinite both;
}

#page5 .page-inner2 li img {
    /*width: 9.375%;*/
    /*height: 3.968253968253968%;*/
    width: 30px;
    height: 15px;
    margin-left: 30px;
    vertical-align: middle;
}

#page5 .page-inner2 li span {
    margin-left: 40px;
    font: 16px/15px 黑体;
    color: #fff;
}

#page5 .page-inner2 li:nth-child(2) img {
    width: 30px;
    height: 30px;
}

#page5 .page-inner2 li:nth-child(3) img {
    margin-left:33px;
    width: 25px;
    height: 30px;
}

#page5 .page-inner3 {
    top: 60%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}

#page5 .page-inner3 > span {
    -webkit-animation: fadeIn 1s 2s 1 both;
    -moz-animation: fadeIn 1s 2s 1 both;
    animation: fadeIn 1s 2s 1 both;
    font-family: 黑体;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

#page5 .page-inner3 .line_2 {
    -webkit-animation: fadeIn 1s 3s 1 both;
    -moz-animation: fadeIn 1s 3s 1 both;
    animation: fadeIn 1s 3s 1 both;
}

#page5 .page-inner3 .line_3 {
    -webkit-animation: fadeIn 1s 4s 1 both;
    -moz-animation: fadeIn 1s 4s 1 both;
    animation: fadeIn 1s 4s 1 both;
}

#page5 .page-inner3 .line_4 {
    -webkit-animation: fadeIn 1s 5s 1 both;
    -moz-animation: fadeIn 1s 5s 1 both;
    animation: fadeIn 1s 5s 1 both;
}

#page5 .page-inner3 .line_5 {
    -webkit-animation: fadeIn 1s 6s 1 both;
    -moz-animation: fadeIn 1s 6s 1 both;
    animation: fadeIn 1s 6s 1 both;
}

#page5 .page-footer {
    padding-top:10px;
    opacity: 0;
    -webkit-animation: show 0.5s 7s both;
    -moz-animation: show 0.5s 7s both;
    animation: show 0.5s 7s both;
}

#page5 .page-footer img {
    /*border-radius:50%;*/
    /*width: 30px;*/
    /*height:30px;*/
}

/* animation //////////////////////////////////////////// */
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate2d {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes flip {
    0% {
        -webkit-transform: perspective(300px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(300px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    40% {
        -webkit-transform: perspective(300px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(300px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    50% {
        -webkit-transform: perspective(300px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(300px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    80% {
        -webkit-transform: perspective(300px) scale3d(.95, .95, .95);
        transform: perspective(300px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    100% {
        -webkit-transform: perspective(300px);
        transform: perspective(300px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(150%);
        transform: translateY(150%)
    }
    50% {
        -webkit-transform: translateY(-8%);
        transform: translateY(-8%)
    }
    65% {
        -webkit-transform: translateY(4%);
        transform: translateY(4%)
    }
    80% {
        -webkit-transform: translateY(-4%);
        transform: translateY(-4%)
    }
    95% {
        -webkit-transform: translateY(2%);
        transform: translateY(2%)
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes float {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    25% {
        -webkit-transform: translate3d(0, -10%, 0);
        transform: translate3d(0, -10%, 0)
    }
    75% {
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes TipAfter {
    0% {
        opacity: 1;
        filter: alpha(opacity=100)
    }
    100% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translate3d(0, 400%, 0);
        transform: translate3d(0, 400%, 0)
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: alpha(opacity=0)
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100)
    }
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translate3d(400%, 0, 0);
        transform: translate3d(400%, 0, 0)
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: none;
        transform: none
    }
}

@keyframes rotateIn {
    from {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        transform-origin: center;
        transform: none;
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateX(150%);
        transform: translateX(150%)
    }
    50% {
        -webkit-transform: translateX(-8%);
        transform: translateX(-8%)
    }
    65% {
        -webkit-transform: translateX(4%);
        transform: translateX(4%)
    }
    80% {
        -webkit-transform: translateX(-4%);
        transform: translateX(-4%)
    }
    95% {
        -webkit-transform: translateX(2%);
        transform: translateX(2%)
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes rotateInUpLeft {
    from {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }

    to {
        transform-origin: left bottom;
        transform: none;
        opacity: 1;
    }
}

@keyframes line1 {
    from {
        height: 0px;
    }
    to {
        height: 135px;
    }
}

@keyframes line2 {
    from {
        width: 0px;
        left: 127px;
    }
    to {
        left: 15px;
        width: 240px;
    }
}

@keyframes line3 {
    from {
        height: 0px;
    }
    to {
        height: 270px;
    }
}

@keyframes line4 {
    from {
        width: 0px;
    }
    to {
        width: 240px;
    }
}

@keyframes line5 {
    from {
        height: 0px;
    }
    to {
        height: 240px;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes flipInX {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

@keyframes flash {
    from, 50%, to {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

@keyframes rotateInUpRight {
    from {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, -90deg);
        opacity: 0;
    }

    to {
        transform-origin: right bottom;
        transform: none;
        opacity: 1;
    }
}

@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}






